
.admin-dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: #C8A2C8; 
  width: 220px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto; 
}

.nav-link {
  transition: all 0.3s;
}
.nav-link:hover {
  background-color: #b088b0;
  border-radius: 0.25rem;
}

/* Active NavLink styling */
.nav-link.active {
  background-color: #a17ca1;
  border-radius: 0.25rem;
}


.main-content {
  margin-left: 220px; 
  padding: 1rem;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto; 
  background-color: #faf8fa; 
  display: flex;
  flex-direction: column;
} 

.navbar {
  margin-bottom: 1rem;
}
